<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">


<div layout:fragment="content">
    <h1>Editar Equipo</h1>
    <form th:action="@{/devices/update}" th:object="${device}" method="post">
        <input type="hidden" th:field="*{deviceid}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="devicename">Nombre</label>
                    <input type="text" class="form-control" th:field="*{devicename}" id="devicename" placeholder="Escriba el nombre del equipo" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="operatingsystem">Sistema Operativo</label>
                    <input type="text" class="form-control" th:field="*{operatingsystem}" id="operatingsystem" placeholder="Escriba el sistema operativo del equipo" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="brand">Marca</label>
                    <input type="text" class="form-control" th:field="*{brand}" id="brand" placeholder="Escriba la marca del equipo" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dateofentry">Fecha de Ingreso</label>
                    <input type="date" class="form-control" th:field="*{dateofentry}" id="dateofentry" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="status">Estado</label>
                    <input type="text" class="form-control" th:field="*{status}" id="status" placeholder="Estado" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="area">Area</label>
                    <select id="area" name="areaid" class="form-control" required>
                        <option th:each="area : ${area}" th:value="${area.areaid}" th:text="${area.areaname}" th:selected="${area.areaid} == ${device.area.areaid}"></option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar cambios</button> |
        <a th:href="@{/devices}">Regresar</a>
    </form>
</div>
