<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainlayout">

<div layout:fragment="content">
    <div class="ms-5 mt-2">
        <h1>Detalles del Usuario</h1>
        <div>
            <hr/>
            <dl class="row">
                <dt class="col-sm-2">ID</dt>
                <dd class="col-sm-10" th:text="${user.userid}"></dd>
                <dt class="col-sm-2">Nombre</dt>
                <dd class="col-sm-10" th:text="${user.firstname}"></dd>
                <dt class="col-sm-2">Apellido</dt>
                <dd class="col-sm-10" th:text="${user.lastname}"></dd>
                <dt class="col-sm-2">Email</dt>
                <dd class="col-sm-10" th:text="${user.email}"></dd>
            </dl>


            <a th:href="@{/users/edit/{userid} (userid = ${user.userid}) }" class="btn btn-outline-info">Editar</a> |
            <a th:href="@{/users}">Regresar</a>
        </div>
    </div>
</div>
