<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainlayout">

<div layout:fragment="content">
    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
              title: "Confirmación",
              text: '[[${msg}]]',
              icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
              title: "Error",
              text: '[[${error}]]',
              icon: "success"
            });
        </script>
    </div>


    <div class="ms-5 mt-2">
        <h1>Listado de Usuarios</h1>
        <br>
        <a th:href="@{/users/create}" class="btn btn-outline-primary">Nuevo Usuario</a>
        <table class="table table-striped">
            <br>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Rol</th>
                <th>Area</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${users}">
                <td th:text="${item.userid}"></td>
                <td th:text="${item.firstname}"></td>
                <td th:text="${item.lastname}"></td>
                <td th:text="|${item.role.rolename} "></td>
                <td th:text="${item.area.areaname}"></td>
                <td>
                    <a th:href="@{/users/details/{userid} (userid = ${item.userid}) }"
                       class="btn btn-outline-secondary">Detalles</a> |
                    <a th:href="@{/users/edit/{userid} (userid = ${item.userid}) }"
                       class="btn btn-outline-info">Editar</a> |
                    <a th:href="@{/users/remove/{userid} (userid = ${item.userid}) }" class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                    <a class="page-link" th:href="@{|/users?page=${pageNumber}|}" th:text="${pageNumber}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>