<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainlayout">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

<style>
    body {
        font-family: 'Lato', sans-serif;
    }

    h1, h2, h5 {
        font-family: 'Montserrat', sans-serif;
    }

    .lead, .card-text, .text-muted {
        font-family: 'Lato', sans-serif;
    }

    .btn, .link-light, .badge {
        font-family: 'Montserrat', sans-serif;
    }
</style>

<div layout:fragment="content">
    <div class="bootstrap-container w-full">
        <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Header -->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Bienvenidos a Management CE</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Administra y controla eficientemente la asignación de equipos en toda la organización.</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Iniciar Sesión</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                            <img src="assets/img/img1.jpg" class="img-fluid rounded-3 my-5" alt="..."/>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Features section -->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h2 class="fw-bolder mb-0">Optimiza la Gestión de tus Recursos</h2>
                        </div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                                        <i class="bi bi-collection"></i>
                                    </div>
                                    <h2 class="h5">Asignación de Equipos</h2>
                                    <p class="mb-0">Administra y asigna equipos a las áreas correspondientes de forma rápida y eficiente.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                                        <i class="bi bi-building"></i>
                                    </div>
                                    <h2 class="h5">Registro y Control de Usuarios</h2>
                                    <p class="mb-0">Gestiona usuarios y roles para un acceso seguro y controlado.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                                        <i class="bi bi-toggles2"></i>
                                    </div>
                                    <h2 class="h5">Seguimiento de Inventario</h2>
                                    <p class="mb-0">Mantén un registro detallado del estado y la disponibilidad de todos los equipos.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                                        <i class="bi bi-toggles2"></i>
                                    </div>
                                    <h2 class="h5">Reportes en Tiempo Real (Próximamente)</h2>
                                    <p class="mb-0">Genera reportes personalizados para monitorear la actividad y el uso de equipos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Blog preview section -->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Novedades del Sistema</h2>
                                <p class="lead fw-normal text-muted mb-5">Descubre las últimas actualizaciones y noticias relacionadas con el uso y las funcionalidades de nuestro sistema de inventario.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..."/>
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!">
                                        <h5 class="card-title mb-3">Nuevas Funcionalidades</h5>
                                    </a>
                                    <p class="card-text mb-0">Descubre las últimas actualizaciones y mejoras en la gestión de inventarios.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..."/>
                                            <div class="small">
                                                <div class="fw-bold">Kelly Rowan</div>
                                                <div class="text-muted">March 12, 2023 &middot; 6 min read</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/adb5bd/495057" alt="..."/>
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Media</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!">
                                        <h5 class="card-title mb-3">Casos de Éxito</h5>
                                    </a>
                                    <p class="card-text mb-0">Lee cómo otras empresas están utilizando nuestro sistema para optimizar sus operaciones.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..."/>
                                            <div class="small">
                                                <div class="fw-bold">Josiah Barclay</div>
                                                <div class="text-muted">March 23, 2023 &middot; 4 min read</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..."/>
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!">
                                        <h5 class="card-title mb-3">Consejos y Buenas Prácticas</h5>
                                    </a>
                                    <p class="card-text mb-0">Aprende las mejores prácticas para una gestión eficiente de equipos y recursos.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..."/>
                                            <div class="small">
                                                <div class="fw-bold">Evelyn Martinez</div>
                                                <div class="text-muted">April 2, 2023 &middot; 8 min read</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        </body>
    </div>
</div>
</html>
